.hero-list-wrapper {
    max-width: 600px;
}
td > div{
    width: 150px;
    height: 150px;
}
.hero-table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
